* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html, body {
    width: 100%;
    height: 100vh;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: rgb(226, 219, 211);
    padding: 0 10px 10px;
}

#my-logo {
    position: fixed;
    width: 72px;
    right: 1%;
    bottom: 1%;
    border-radius: 100%;

}

#my-logo:hover {
    opacity: 0.9;
}

header {
    padding: 25px;
    background-color: rgb(172, 159, 126);
    border-bottom: 4px rgba(139, 114, 77, 0.884) solid;
    border-radius: 10px 10px 20px 20px;

}

header a {
    font-size: 20px;
    padding: 3px 0 4px 4px;
    border-left: 2px rgba(0, 0, 0, 0.425) solid;
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 2px rgb(37, 16, 4);
    text-decoration: none;
    transition: 0.1s;
}

header a:hover {
    color: rgb(221, 221, 221);

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    width: auto;
    height: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    width: 250px;
    background-color: rgba(228, 207, 162, 0.829);
    border-bottom: 4px rgb(207, 189, 145) solid;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgb(99, 88, 73);

}

section {
    margin-bottom: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    width: 100%;
    justify-items: center;
}

.project-spoiler {
    display: flex;
    width: auto;
    height: 165px;
    cursor: pointer;
    border: 4px rgb(207, 189, 145) solid;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(109, 99, 74);
}

.project {
    display: flex;
    transition: 0.2s;
}

.project:hover {
    transform: scale(0.97)
}

.project-board {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    padding: 3px;
    width: 50px;
    height: 165px;
    align-items: center;   
    border-top: 4px solid;
    border-left: 4px solid;
    border-bottom: 4px solid;
    border-color: rgb(207, 189, 145);
    border-right: 3px rgba(184, 173, 145, 0.7) solid;
    border-radius: 10px 0 0 10px; 
    background-color: rgba(184, 173, 145, 0.8);
    pointer-events: none;
}

.project-tecnologies {
    width: 40px;
    
}

#project-page {
    z-index: 1;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 35px 20px;
    background-color: rgba(194, 194, 194, 0.747);
}

#close-button {
    max-width: 28px;
    height: 154px;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: rgb(112, 71, 71);
    cursor: pointer;
    color: rgb(207, 207, 207);
    font-size: 20px;
    font-weight: 300;
    
}

#close-button:active {
    transition: 0.2s;
    background-color: rgba(175, 68, 68, 0.521);
}

#project-page .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    background-color: rgba(2, 2, 2, 0.658);
    border: 1px white solid;
    border-radius: 4px;
}

#project-page h3 {
    text-align: center;
    border-bottom: 1px white solid;
    color: #f5e067;
    font-size: 30px;
    font-weight: 700;

}

#project-page p {
    max-width: 95%;
    margin: 10px 0;
    color: rgb(228, 218, 189);
    font-weight: 400;
    font-size: 25px;
    text-align: justify;
    
}

#project-page a {
    color: rgb(202, 183, 148);
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    
}

#project-page a:hover {
    transition: 0.3s;
    color: rgb(138, 112, 64);
}

#project-page a:active {
    transition: 0.3s;
    text-shadow: 0 0 2px rgb(138, 122, 95);
}

#placed-project {
    width: auto;
    max-width: 65%;
    height: auto;
    border: 4px rgb(207, 189, 145) solid;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(109, 99, 74);
}

.div-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 65%;
}

#more-projects-div {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

#more-projects-button {
    padding: 5px;
    background-color: rgba(175, 173, 137, 0.384);
    border: 2px rgb(161, 161, 142) solid;
    border-radius: 3px;
    font-size: 1em;
    font-weight: 600;
    color: rgb(63, 63, 63);
    cursor: pointer;
}

@media screen and (max-width: 1070px) {

    html, body {
        width: 100%;
        min-height: 100vh;
        height: auto;
    }

    #my-logo {
        width: 62px;
    }

    .wrapper {
        min-height: 100vh;
        height: 100%;
    }

    .div-content {
        width: 95%;
    }

    #placed-project {
        max-width: 85%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}

@media screen and (max-width: 800px) {

    html, body {
        width: 100%;
        min-height: 100%;
        height: auto;
    }

    header {
        padding: 20px 25px;
    }

    .wrapper {
        padding: 0 10px 40px 10px;
    }
    
    main {
        padding: 15px 0 0;
    }

    #project-page p {
        min-height: 100%;
        text-align: center;  
    }

    #placed-project {
        min-width: 100%;
    }

    .div-content {
        min-width: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;        
    }

    .project-spoiler {
        height: auto;
        width: 390px;
    }

    #close-button {
        font-size: 18px;
        width: 25px;
    }
}

@media screen and (max-width: 400px) {

    header {
        padding: 15px 20px;
    }

    header a {
        font-size: 18px;
    }

    h2 {
        font-size: 20px;
    }

    .project-spoiler {
        height: auto;
        width: 100%;

    }

    #project-page h3 {
        font-size: 25px;
    }

    #project-page p {
        font-size: 22px;
    }

    #project-page a {
        font-size: 22px;
    }

}
