* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    padding: 40px 0 40px 0;
    width: 100%;
    height: 100%;
    max-height: min-content;
    border-left: 10px rgba(124, 118, 98, 0.486) solid;
    border-right: 10px rgba(124, 118, 98, 0.486) solid;
    background-color: rgb(211, 199, 186);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px 5px 12px 5px;
    min-width: 133px;
    min-height: 288px;
    max-height: 500px;
    height: 100%;
    border-right: 4px rgba(139, 114, 77, 0.884) solid;
    border-radius: 6px 25px 25px 6px;
    background-color: rgb(172, 159, 126);

}

.button-list {
    display: flex;
    flex-direction: column;
}

.button-list button{
    margin-top: 20px;
    padding: 5px;
    width: 90px;
    border: none;
    border-left: 2px rgb(124, 118, 98) solid;
    border-right: 2px rgb(124, 118, 98) solid;
    border-radius: 5px;
    background-color: rgb(153, 144, 119);
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 2px rgb(37, 16, 4);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

.button-list button:hover {
    background-color: rgb(134, 127, 108);
    border-left: 4px rgba(124, 118, 98, 0.836) solid;
    border-right: 4px rgba(124, 118, 98, 0.836) solid;
}

.button-list button:active {
    opacity: 0.75;
}

.links {
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 500;
}

.links a {
    padding: 3px 0 4px 3px ;
    border-left: 2px rgba(0, 0, 0, 0.425) solid;
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 2px rgb(37, 16, 4);
    text-decoration: none;
    transition: 0.1s;
}

.links a:hover {
    color: rgb(221, 221, 221);
}

#sec-social-medias {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 0;
    transition: 0.3s;
}

#sec-social-medias a img {
    margin-top: 10px;
    height: 0;
    width: fit-content;
    max-width: 95px;
    transition: 0.3s;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(218, 206, 196);
    border-top: 2px rgb(46, 22, 0) solid;
    border-bottom: 2px rgb(46, 22, 0) solid ;
    border-radius: 50px;
    transition: 0.5s;

}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

}

.div-divs {
    display: none;
    height: 10%;
}

section h2{
    font-weight: 700;
}

section p{
    font-weight: 400;
    font-size: 25px;
    max-width: 550px;
}


.sec-welcome {
    display: inline-flex;
    align-items: center;

}

.sec-welcome p{
    border-left: 1px rgb(88, 43, 0) solid;
    border-radius: 5px;
    padding: 6px 0  6px 10px;
    max-width: 550px;

}

.sec-welcome img {
    height: auto;
    max-width: 350px;
    width: 100%;
 
}

#sec-i-am {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

#sec-i-am div {
    max-height: 100%;
}

#sec-i-am div p {
    font-size: 20px;
}

#sec-i-am img {
    max-width: 428.750px;
    width: 100%;
    max-height: 643.141px;
    height: 100%;
}

#sec-my-skills {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

#sec-my-skills div {
    border-bottom: 1px black dashed;
    padding-bottom: 30px;
}

#sec-my-skills p {
    min-width: 700px;
    max-width: 700px;
    font-size: 23px;
    text-align: justify;
}

#sec-my-skills h2 {
    margin: 15px 0;
}

#sec-my-skills img {
    margin-left: 3px;
}

@media screen and (max-width: 720px) {

    nav {
        position: fixed;
        left: 0;
        top: 25%;
        transform: translateX(-100%);
    }
    
    section {
        flex-direction: column;
    }

    #sec-i-am {
        justify-content: center;
    }

    #sec-i-am img {
        width: auto;
        margin-top: 100px;
        max-height: 550px;
    }

}